$body-bg: #F6E8DE;
$indigo: #806BFF;
$pink: #F6E8DE;
$orange: #D08A58;
$green: #838E00;
$gray-600: #F3F3F3;
$gray-800: #474747;

$primary: #806BFF;
$dark: #474747;
$danger: #D08A58;

.box-shadow-pink {
    box-shadow: 4px 4px 10px rgba(#D08A58, .15);
}

$navbar-brand-font-size: 2.1rem;
$font-family-sans-serif: montserrat, sans-serif;

.knewave {
    font-family: 'Knewave', cursive;
}

$input-btn-padding-y: .5rem;
$input-btn-padding-x: 2rem !default;
$btn-font-weight: 600;

.credits {
    width: fit-content;
    padding: 10px 20px 10px 20px;
    border-radius: 0 0 5px 5px;
}

.credits p {
    margin-bottom: 0;
}



@import"../node_modules/bootstrap/scss/bootstrap";